.bottom-controls {
  position: fixed;
  background: #1d1e2f;
  background: rgb(35, 36, 61);
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80px 140px 110px;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  -moz-user-select: none;
  -webkit-user-select: none;

  & > * {
    height: 100%;
    display: grid;
    place-items: center;
    &:hover {
      background: #dbdbdb1a;
    }
    &:active {
      background: #dbdbdb1a;
    }
  }

  @media (min-width: 390px) and (max-width: 540px) {
    overflow-x: hidden;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {  
    height: 50px;

    & > * {
      font-size: 20px;
    }
  }
  @media (min-width: 768.01px) {
    grid-template-columns: 115px 180px 135px;
    position: fixed;
    height: 70px;
  }
}