@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

header {
  user-select: none;
  background: rgb(29, 30, 47); 
  background: rgb(35, 36, 61); //can't decide between the two
  padding: 10px 20px;
  font-size: 1.6em;
  display: grid;
  align-items: center;
  grid-auto-flow: column;

  .title h1 {
    font-family: 'Righteous', cursive;
  }
  
  .nav {
    display: none;
  }

  @media (max-width: 768px) {
    font-size: 1em;

    .nav,
    .nav-selected {
      width: 30px;
      height: 27px;
      display: inline-block;
      justify-self: end;
      display: grid;
      place-items: center;

      & > * {
        transition: all 0.2s ease;
        height: 4px;
        width: 25px;
        border-radius: 20px;
        border: 1px solid white;
        background-color: white;
      }
    }

    .nav-selected {
      position: relative;

      #bar1 {
        position: absolute;
        transform: rotate(-0.125turn);
      }
      #bar2 {
        // opacity: 0%;
        transform: scale(0.0);
      }
      #bar3 {
        position: absolute;
        transform: rotate(0.125turn);
      }
    }
  }

 
}