@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

header {
  user-select: none;
  background: rgb(35, 36, 61);
  font-family: 'Righteous', cursive;
  padding: 10px 20px;
  font-size: 1.6em;
  display: grid;
  align-items: center;
  grid-auto-flow: column;

  .nav {
    display: none;
  }

  @media (max-width: 768px) {
    font-size: 1em;

    // .nav { transition: 1.6s transform; }
    .nav,
    .nav-selected {
      width: 30px;
      height: 27px;
      display: inline-block;
      justify-self: end;
      display: grid;
      place-items: center;
      transition: all 2.5s ease-in;
      & > * {
        height: 4px;
        width: 25px;
        border-radius: 20px;
        border: 1px solid white;
        background-color: white;
      }
    }

    .nav-selected {
      position: relative;
      translate: all 0.2s transform;

      #bar1 {
        position: absolute;
        transform: rotate(-0.125turn);
      }
      #bar2 {
        display: none;
      }
      #bar3 {
        position: absolute;
        transform: rotate(0.125turn);
      }
    }
  }

 
}