.todos {
  display: grid;
  border-bottom: none;
  margin-top: 20px;
  max-width: 400px;

  .todo {
    padding-left: 8px;
    padding: 8px;
    border: 1px solid #333;
    border-bottom: none;
    max-width: 400px;
    position: relative;
  }
  .todo:last-child {
    border-bottom: 1px solid #333;
  }
  .prop-header {
    font-size: .87em;
    
    .todoTitle { 
      font-size: 1.20em; 
    }
  }

  .description,
  .dueDate,
  .priority {
    margin-top: 3px;
    margin-left: 5px;
  }


}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 60px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 3px;
  font-weight: bolder;
  user-select: none;

  .todo-complete {
    font-size: 23px;
    color: #1a1;

    &:hover { color: #2b2;}
  }
  .todo-remove {
    font-size: 21px;
    color: #a22;

    &:hover { color: #b33;}
  }
}

[data-todo-active="true"] {
  margin-top: 5px;
  margin-bottom: 5px;
  transition: margin-top 0.3s, margin-bottom 0.2s;

  & > * {
    padding: 8px;
    padding-left: 5px;
  }
}
[data-todo-active="false"] {
  height: 0;
  width: 0;
  & > * { display: none;}
}