.todos {
  display: grid;
  border-bottom: none;
  margin-top: 20px;
  max-width: 400px;

  .todo {
    padding-left: 8px;
    padding: 8px;
    border: 1px solid #333;
    border-bottom: none;
    border-radius: 3px;
    max-width: 400px;
    position: relative;
    word-break: break-word;
  }
  .todo:last-child {
    border-bottom: 1px solid #333;
  }
  .prop-header {
    font-size: .87em;
    
    .todoTitle { 
      font-size: 1.20em; 
      user-select: none;
      word-wrap: break-word;
    }
    @media (max-width: 540px) {
      .todoTitle {
        max-width: 250px;
      }
    }
    @media (max-width: 440px) {
      .todoTitle {
        max-width: 190px;
      }
    }
  }

  .description,
  .dueDate,
  .priority {
    margin-top: 3px;
    margin-left: 5px;
  }
}

.todo-info .controls {
  text-decoration: none;
  opacity: 100%;
  font-weight: bold;
  text-shadow: 1px 2px 0px #111;
  padding: 0;
  padding-top: 10px;
  border-top: 1px solid #aaaaaa33;
  margin-top: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  user-select: none;

  .todo-complete {
    text-decoration: none !important;
    display: block;
    &:hover { color: #aaa;}
    &:active { color: #888;}
  }
  .todo-remove {
    &:hover { color: #a22;}
    &:active { color: #b33;}
  }

  .todo-edit {
    &:hover { color: #aaa;}
    &:active { color: #888;}
  }
}

[data-todo-active="true"] {
  margin-top: 5px;
  margin-bottom: 5px;
  transition: opacity 0.4s ease, max-height 0.2s ease;
  max-height: 250px;
  overflow-y: scroll;
  scrollbar-width: none;
  
  & > * {
    padding: 8px;
    padding-left: 5px;
  }
}
[data-todo-active="false"] {
  max-height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0%;
  transition: max-height 0.25s ease, opacity 0.25s ease;
}