@use './partials/header';
@use './partials/sidebar';
@use './partials/project';
@use './partials/todo';
@use './partials/bottomNav';
@use './partials/todoForm';
@use './partials/projectForm';

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;800;900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', Courier, sans-serif;
}

body {
  color: #eee;
  background: rgb(28, 28, 34);
  position: relative;
}

.btn {
  border: none;
  background: #555;
  height: 40px;
  color: #eee;
  border-radius: 8px;
  font-size: 17px;

}
[class$="-submit"] {
  background: #1a1;
  &:hover {
    background: #2b2;
  }
  &:active {
    background: #3b3;
  }
}
[class$="-cancel"] {
  background: #a22;
  &:hover {
    background: #b33;
  }
  &:active {
    background: #b44;
  }
}
.btn-container {
  margin-top: 15px;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
}
[class$="-label"] {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 15px;
}
input,
select {
  min-width: 260px;
  background: #484848;
  color: white;
  font-size: 16px;
  height: 30px;
  border: none;
  border-radius: 4px;
  padding-left: 4px;
}
input {
  padding-left: 4px;
}
select {
  appearance: none;
}

.completed {
  text-decoration: line-through;
  color: #444;
}

.d-none {
  display: none;
}