@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;800;900&display=swap");
header {
  user-select: none;
  background: #1d1e2f;
  background: #23243d;
  padding: 10px 20px;
  font-size: 1.6em;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  z-index: 9999;
}
header .title h1 {
  font-family: "Righteous", cursive;
}
header .nav {
  display: none;
}
@media (max-width: 768px) {
  header {
    height: 61px;
    font-size: 1em;
  }
  header .nav,
header .nav-selected {
    width: 30px;
    height: 27px;
    display: inline-block;
    justify-self: end;
    display: grid;
    place-items: center;
  }
  header .nav > *,
header .nav-selected > * {
    transition: all 0.2s ease;
    height: 4px;
    width: 25px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: white;
  }
  header .nav-selected {
    position: relative;
  }
  header .nav-selected #bar1 {
    position: absolute;
    transform: rotate(-0.125turn);
  }
  header .nav-selected #bar2 {
    transform: scale(0);
  }
  header .nav-selected #bar3 {
    position: absolute;
    transform: rotate(0.125turn);
  }
}

.sidebar {
  position: fixed;
  right: 0;
  top: 85px;
  z-index: 999;
  height: calc(100vh);
  width: 35%;
  max-width: 350px;
  border-left: 2px solid #333;
  background-color: #25252c;
  overflow-y: scroll;
  word-break: break-word;
  -webkit-user-select: none;
  -moz-user-select: none;
  transition: width 0.15s ease 0.05s;
}
@media (max-width: 768px) {
  .sidebar {
    height: calc(100vh);
    top: 60px;
  }
}
.sidebar .new-project:hover,
.sidebar .projects > *:hover {
  background: #dbdbdb1a;
}
.sidebar .new-project:hover .project-delete,
.sidebar .projects > *:hover .project-delete {
  display: grid;
  place-items: center;
  font-size: 1.5em;
  z-index: 999999;
}
.sidebar .new-project:hover .project-delete:hover,
.sidebar .projects > *:hover .project-delete:hover {
  color: #c44;
  font-weight: bold;
}

@media (max-width: 768px) {
  [data-sidebar-active=true] {
    width: 300px;
    background-color: #25252c;
  }
  [data-sidebar-active=true] > * {
    transition: opacity 0.1s ease 0.13s;
  }

  [data-sidebar-active=false] {
    width: 0;
  }
  [data-sidebar-active=false] > * {
    opacity: 0;
    transition: all 0.1s ease;
  }
}
@media (max-width: 400px) {
  [data-sidebar-active=true] {
    max-width: 100vw;
    width: 100vw;
  }
}
.new-project {
  padding: 15px;
  font-size: 1em;
  text-shadow: 1px 1px 3px #000;
}
.new-project .icon {
  font-size: 1.2em;
}

.projects {
  display: grid;
  text-shadow: 1px 1px 3px #000;
}
.projects .project {
  position: relative;
  display: grid;
  grid-template-columns: 86% 14%;
}
.projects .project-delete {
  display: none;
}
.projects .project:active {
  background: #dbdbdb1a;
}
.projects .project-title {
  padding: 10px 10px 10px 15px;
}
.projects .project-title:active {
  text-shadow: none;
}

.project-focused {
  display: grid;
  padding-top: 20px;
  margin: 81px 30px;
  width: 72.5%;
}
.project-focused .focused-title {
  font-size: 1.6em;
  word-break: break-word;
  max-width: 75%;
}
@media (max-width: 768px) {
  .project-focused {
    margin-top: 61px;
    margin-bottom: 61px;
  }
  .project-focused .focused-title {
    max-width: 100%;
  }
}

.todos {
  display: grid;
  border-bottom: none;
  margin-top: 20px;
  max-width: 400px;
}
.todos .todo {
  padding-left: 8px;
  padding: 8px;
  border: 1px solid #333;
  border-bottom: none;
  border-radius: 3px;
  max-width: 400px;
  position: relative;
  word-break: break-word;
}
.todos .todo:last-child {
  border-bottom: 1px solid #333;
}
.todos .prop-header {
  font-size: 0.87em;
}
.todos .prop-header .todoTitle {
  font-size: 1.2em;
  user-select: none;
  word-wrap: break-word;
}
@media (max-width: 540px) {
  .todos .prop-header .todoTitle {
    max-width: 250px;
  }
}
@media (max-width: 440px) {
  .todos .prop-header .todoTitle {
    max-width: 190px;
  }
}
.todos .description,
.todos .dueDate,
.todos .priority {
  margin-top: 3px;
  margin-left: 5px;
}

.todo-info .controls {
  text-decoration: none;
  opacity: 100%;
  font-weight: bold;
  text-shadow: 1px 2px 0px #111;
  padding: 0;
  padding-top: 10px;
  border-top: 1px solid #aaaaaa33;
  margin-top: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  user-select: none;
}
.todo-info .controls .todo-complete {
  text-decoration: none !important;
  display: block;
}
.todo-info .controls .todo-complete:hover {
  color: #aaa;
}
.todo-info .controls .todo-complete:active {
  color: #888;
}
.todo-info .controls .todo-remove:hover {
  color: #a22;
}
.todo-info .controls .todo-remove:active {
  color: #b33;
}
.todo-info .controls .todo-edit:hover {
  color: #aaa;
}
.todo-info .controls .todo-edit:active {
  color: #888;
}

[data-todo-active=true] {
  margin-top: 5px;
  margin-bottom: 5px;
  transition: opacity 0.4s ease, max-height 0.2s ease;
  max-height: 250px;
  overflow-y: scroll;
  scrollbar-width: none;
}
[data-todo-active=true] > * {
  padding: 8px;
  padding-left: 5px;
}

[data-todo-active=false] {
  max-height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0%;
  transition: max-height 0.25s ease, opacity 0.25s ease;
}

.bottom-controls {
  position: fixed;
  background: #1d1e2f;
  background: #23243d;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80px 140px 110px;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.bottom-controls > * {
  height: 100%;
  display: grid;
  place-items: center;
}
.bottom-controls > *:hover {
  background: #dbdbdb1a;
}
.bottom-controls > *:active {
  background: #dbdbdb1a;
}
@media (min-width: 390px) and (max-width: 540px) {
  .bottom-controls {
    overflow-x: hidden;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .bottom-controls {
    height: 50px;
  }
  .bottom-controls > * {
    font-size: 20px;
  }
}
@media (min-width: 768.01px) {
  .bottom-controls {
    grid-template-columns: 115px 180px 135px;
    position: fixed;
    height: 70px;
  }
}

.todo-form {
  position: fixed;
  top: 120px;
  padding: 22px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #111;
  background-color: #333333;
  display: grid;
  gap: 14px;
  width: 500px;
  z-index: 1000;
  transition-property: height, width, padding, gap, top;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.todo-form > * {
  display: grid;
  gap: 5px;
}
@media (min-width: 541px) and (max-width: 768px) {
  .todo-form {
    left: 8%;
  }
}
@media (max-width: 565px) {
  .todo-form {
    left: 5%;
  }
}
@media (min-width: 769px) {
  .todo-form {
    left: 2%;
  }
}
@media (min-width: 805px) {
  .todo-form {
    left: 2%;
  }
}
@media (min-width: 915px) {
  .todo-form {
    left: 10%;
  }
}
@media (min-width: 1065px) {
  .todo-form {
    left: 20%;
  }
}
@media (min-width: 1215px) {
  .todo-form {
    left: 30%;
  }
}
@media (max-width: 540px) {
  .todo-form {
    top: 75px;
    left: 10px;
    width: calc(100% - 20px);
  }
}
@media (max-width: 900px) and (max-height: 420px) {
  .todo-form {
    top: 10px;
    z-index: 9999;
    gap: 0px;
    padding-top: 10px;
  }
}

.project-form {
  position: fixed;
  top: 120px;
  padding: 22px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #111;
  background-color: #333333;
  display: grid;
  gap: 14px;
  width: 500px;
  z-index: 1000;
  transition: all 0.4s ease;
}
.project-form > * {
  display: grid;
  gap: 5px;
}
@media (min-width: 541px) and (max-width: 768px) {
  .project-form {
    left: 8%;
  }
}
@media (max-width: 565px) {
  .project-form {
    left: 5%;
  }
}
@media (min-width: 805px) {
  .project-form {
    left: 2%;
  }
}
@media (min-width: 915px) {
  .project-form {
    left: 10%;
  }
}
@media (min-width: 1065px) {
  .project-form {
    left: 20%;
  }
}
@media (min-width: 1220px) {
  .project-form {
    left: 30%;
  }
}
@media (max-width: 540px) {
  .project-form {
    left: 10px;
    width: calc(100% - 20px);
  }
}

.warning-wrapper {
  display: grid;
  place-items: center;
  padding: 0 15px;
}

.warning {
  padding: 13px;
  border-radius: 5px;
  background: #333;
  display: grid;
  align-content: space-between;
  justify-items: center;
  z-index: 999;
}
.warning-text {
  margin: 0px auto 0px;
  text-align: center;
}
div .warning-btn {
  margin-top: 25px;
  width: 250px;
  background: #1a1;
  -moz-user-select: none;
  -webkit-user-select: none;
}
div .warning-btn:hover {
  background: #2b2;
}
div .warning-btn:active {
  background: #3b3;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "M PLUS Rounded 1c", Courier, sans-serif;
  scrollbar-width: none;
}

body {
  color: #eee;
  background: #1c1c22;
  position: relative;
}

.btn {
  border: none;
  background: #555;
  height: 40px;
  color: #eee;
  border-radius: 8px;
  font-size: 17px;
  display: grid;
  place-items: center;
}

[class$=-submit] {
  background: #1a1;
}
[class$=-submit]:hover {
  background: #2b2;
}
[class$=-submit]:active {
  background: #3b3;
}

[class$=-cancel] {
  background: #a22;
}
[class$=-cancel]:hover {
  background: #b33;
}
[class$=-cancel]:active {
  background: #b44;
}

.btn-container {
  margin-top: 15px;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
}

[class$=-label] {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 15px;
}

input,
select {
  min-width: 260px;
  background: #484848;
  color: white;
  font-size: 16px;
  height: 30px;
  border: none;
  border-radius: 4px;
  padding-left: 4px;
}

input {
  padding-left: 4px;
}

select {
  appearance: none;
}

.completed {
  text-decoration: line-through;
  color: #444;
}

.d-none {
  display: none;
}

/*# sourceMappingURL=main.css.map */
