@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;800;900&display=swap");
header {
  user-select: none;
  background: #1d1e2f;
  padding: 10px 20px;
  font-size: 1.6em;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}
header .title h1 {
  font-family: "Righteous", cursive;
}
header .nav {
  display: none;
}
@media (max-width: 768px) {
  header {
    font-size: 1em;
  }
  header .nav,
header .nav-selected {
    width: 30px;
    height: 27px;
    display: inline-block;
    justify-self: end;
    display: grid;
    place-items: center;
    transition: all 2.5s ease-in;
  }
  header .nav > *,
header .nav-selected > * {
    height: 4px;
    width: 25px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: white;
  }
  header .nav-selected {
    position: relative;
    translate: all 0.2s transform;
  }
  header .nav-selected #bar1 {
    position: absolute;
    transform: rotate(-0.125turn);
  }
  header .nav-selected #bar2 {
    display: none;
  }
  header .nav-selected #bar3 {
    position: absolute;
    transform: rotate(0.125turn);
  }
}

.sidebar {
  position: absolute;
  right: 0;
  z-index: 999;
  height: calc(100vh - 85px);
  width: 35%;
  max-width: 350px;
  border-left: 2px solid #333;
  background-color: #25252c;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
}
@media (max-width: 768px) {
  .sidebar {
    height: calc(100vh - 61px);
  }
}
.sidebar .new-project:hover,
.sidebar .projects > *:hover {
  background: #dbdbdb1a;
}
.sidebar .new-project:active,
.sidebar .projects > *:active {
  background: #dbdbdb1a;
}
.sidebar .new-project:active .project-title,
.sidebar .new-project:active h2,
.sidebar .projects > *:active .project-title,
.sidebar .projects > *:active h2 {
  text-shadow: none;
}

@media (max-width: 768px) {
  [data-sidebar-active=true] {
    width: 300px;
    background-color: #25252c;
  }

  [data-sidebar-active=false] {
    display: none;
  }
}
@media (max-width: 400px) {
  [data-sidebar-active=true] {
    min-width: 100vw;
  }
}
.new-project {
  padding: 15px;
  font-size: 1em;
  text-shadow: 1px 1px 3px #000;
}
.new-project .icon {
  font-size: 1.2em;
}

.projects {
  display: grid;
  text-shadow: 1px 1px 3px #000;
}
.projects .project {
  padding: 10px 40px 10px 15px;
  position: relative;
}

.project-focused {
  display: grid;
  margin: 30px;
  width: 72.5%;
}
.project-focused .title {
  padding-bottom: 20px;
  font-size: 2.1em;
}

.todos {
  display: grid;
  border-bottom: none;
  margin-top: 20px;
  max-width: 400px;
}
.todos .todo {
  padding-left: 8px;
  padding: 8px;
  border: 1px solid #333;
  border-bottom: none;
  max-width: 400px;
}
.todos .todo:last-child {
  border-bottom: 1px solid #333;
}
.todos .prop-header {
  font-size: 0.87em;
}
.todos .prop-header .todoTitle {
  font-size: 1.2em;
}
.todos .description,
.todos .dueDate,
.todos .priority {
  margin-top: 3px;
  margin-left: 5px;
}

[data-todo-active=true] {
  margin-top: 5px;
  margin-bottom: 5px;
  transition: margin-top 0.3s, margin-bottom 0.2s;
}
[data-todo-active=true] > * {
  padding: 8px;
  padding-left: 5px;
}

[data-todo-active=false] {
  height: 0;
  width: 0;
}
[data-todo-active=false] > * {
  display: none;
}

.bottom-controls {
  position: fixed;
  background: #1d1e2f;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80px 140px 110px;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.bottom-controls > * {
  height: 100%;
  display: grid;
  place-items: center;
}
.bottom-controls > *:hover {
  background: #dbdbdb1a;
}
.bottom-controls > *:active {
  background: #dbdbdb1a;
}
@media (max-width: 768px) {
  .bottom-controls {
    height: 50px;
  }
  .bottom-controls > * {
    font-size: 20px;
  }
}
@media (min-width: 768.01px) {
  .bottom-controls {
    grid-template-columns: 115px 180px 135px;
    position: fixed;
    height: 70px;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "M PLUS Rounded 1c", Courier, sans-serif;
}

body {
  color: #eee;
  background: #1c1c22;
  position: relative;
}

.d-none {
  display: none;
}

/*# sourceMappingURL=main.css.map */
